html, body{
    height: 100%;
    margin: 0;
}
.navbar-background{
    background-color: rgb(20, 40, 55);
}
.navbar{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    /*flex-direction: row;
    justify-content: space-around; */
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar .logo{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 500;
}
.navbar ul{
    display: flex;
    gap: 18px;
}
.navbar li{
    list-style: none;
    font-size: 18px;
    color: whitesmoke;
    display: inline-block;
    text-align: -webkit-match-parent;
}
.awesome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    height: 20%;
    margin: 25px 15%;
    color: whitesmoke;
}
.awesome div{ /* I think this might not work... change to aw_text class? */
    flex: 1;
    margin: 10px;
    align-content: center;
}
.awesome img{ /* I think this might not work... change to aw_img class? */
    flex: 1;
    width: 100%;
    padding: 30px;
    align-items: center;
    /* padding: 10px;
    margin-right: 50px; */
}
.aw_text{
    max-width: 50%;
}
.aw_text h1{
    font-size: 48px;
    font-weight: 700;
}
.aw_text p{
    font-size: 18px;
}
button{
    background-color:rgb(26, 136, 245);
    color: #ffffff;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;

}
.random_info{
    background-color: white;
}
.random_info h1{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.info_boxes{
    display: flex;
    justify-content: center;

}





.quote{
    background-color: rgb(233, 233, 233);
}