html, body{
    height: 100%;
    margin: 0;
}
.navbar-background{
    background-color: rgb(20, 40, 55);
}
.navbar{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    /*flex-direction: row;
    justify-content: space-around; */
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar .logo{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 500;
}
.navbar ul{
    display: flex;
    gap: 18px;
}
.navbar li{
    list-style: none;
    font-size: 18px;
    color: whitesmoke;
    display: inline-block;
    text-align: -webkit-match-parent;
}
.awesome{
    height: 25%;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: whitesmoke;
}
.awesome div{ /* I think this might not work... change to aw_text class? */
    flex: 1;
    margin: 10px;
   
}
.awesome img{ /* I think this might not work... change to aw_img class? */
    width: 70%;
    height: 100%;
    
    /* padding: 10px;
    margin-right: 50px; */

}
.random_info{
    background-color: white;
}
.random_info h1{
    text-align: center;
    font-weight: 500;
}
.quote{
    background-color: rgb(233, 233, 233);
}